* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(31, 55, 87);
  background: radial-gradient(
    circle,
    rgba(31, 55, 87, 1) 0%,
    rgba(19, 21, 55, 1) 100%
  );
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 95%;
}
button {
  cursor: pointer;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.header {
  width: 100%;
  padding: 18px 24px;
  max-width: 700px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
}
.logo {
  display: flex;
  flex-direction: column;
}
.logo span {
  font-size: 33px;
  line-height: 90%;
  color: white;
}
.score {
  background-color: #f3f3f3;
  text-align: center;
  padding: 15px 45px;
  border-radius: 8px;
}
.score p {
  color: #2a45c2;
  font-size: 16px;
  letter-spacing: 2px;
}
#score {
  font-size: 64px;
  color: #565458;
  line-height: 95%;
}
main section {
  max-width: 1000px;
  width: 100%;
  margin: 30px auto;
}

.s1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  position: relative;
}

.sideBtn {
  width: 200px;
  height: 200px;
  background-color: #f3f3f3;
  padding: 30px;
  border-radius: 50%;
  margin: 0px 40px;
  border: 20px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  cursor: pointer;
  z-index: 2;
}
.sideBtn img {
  width: 65px;
}
.paper {
  border-color: #4664f4 !important;
}
.scissors {
  border-color: #eb9f0e !important;
}
.rock {
  border-color: #db2e4d !important ;
  margin-top: 10px !important;
}
.paper:hover {
  border-color: #4663f4c6 !important;
  transition: 300ms;
}
.scissors:hover {
  border-color: #eb9e0e88 !important;
}
.rock:hover {
  border-color: #db2e4ea7 !important ;
}
.bck1 {
  position: absolute;
  width: 250px;
  justify-self: end;
  top: 90px;
}
.rules {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}
#rules {
  padding: 15px 34px;
  font-size: 16px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  background-color: transparent !important;
  letter-spacing: 2px;
  line-height: 70%;
}
/*  */
.s1 {
  display: flex;
}
.s2 {
  display: none;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.half {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.half span {
  font-size: 24px;
  color: white;
  margin-bottom: 40px;
}
.game-result {
  text-align: center;
}
#resultText {
  font-size: 50px;
  color: white;
}
#restart {
  color: #3b4262;
  background-color: #f3f3f3;
  letter-spacing: 2px;
  border: none;
  border-radius: 8px;
  padding: 15px 50px;
  margin-top: 20px;
}
#restart:hover {
  color: red !important;
}
